

<div class="sidebar">
    <div class="sidebar-content">
      <div class="navicon"><a class="menu-icon" href="#"><i class="fas fa-book-open"></i></a></div>
         <div class="title">
          <h6> Your LookBook</h6>
         </div>
      <ul class="sidebar-menu list-unstyled">
        <li class="list-item"><a href="/auth/profile"><i class="fa fa-home"></i><span>Profile</span></a></li>
        <li class="list-item"><a href="/look/gallery"><i class="far fa-images"></i><span>Gallery</span></a></li>
        <li class="list-item"><a href="#"><i class="fas fa-tasks"></i><span>Check-List</span></a></li>
        <li class="list-item"><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i><span>Log Out</span></a></li>
         <li class="list-item addimageModal colorChange"><a class="waves-effect waves-light btn modal-trigger" href="#modal1"><i class="fas fa-upload"></i><span>Upload Image</span></a></li>

          {{!-- <li class="list-item"><a class="waves-effect waves-light btn modal-trigger" href="#modal1">Upload an Image</a></li> --}}

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
         <form action="/look/addimage" method="POST" enctype="multipart/form-data">
              <input type="file" name="thePic">

              <p>Comment:</p>
              <textarea name="comment" id="comment" cols="5" rows="5" style="margin: 0px; width: 161px; height: 41px;"></textarea>

              <button class="modal-close upload"><i class="fas fa-upload"></i>Submit</button>
        </form>
      </ul>

    </div>
  </div>
  </div>
  <div class="overlay">

  </div>
 
 
     <section class="emptynav"><p>White Text</p></section>

     <section class="lookbookCard">
              {{#unless image}}
                <h2 class="instructions">Welcome To Your LookBook</h2>
                <p class="instructions2">The purpose of your lookbook is for our designers to establish an idea of what your dream cake looks like.
                 By using images and comments you can describe to us what your vision is. You can add as many images as you'd like to your lookbook.</p>
                <p class="instructions2">If you don't yet have an idea of what you want your cake to resemble, feel free to look at our gallery of cakes we've already made in the past, these images are in the "Gallery" section.
                You can also look at images other customers have posted to their lookbook, these images can be found in the "All LookBooks" section.</p>
                <p class="instructions">To Get started Simply Click the "Upload" button.</p>
                <h5 class="instructions"> Let's Get Baking!</h5>
              {{/unless}}

            <div class="row">
              {{#each image}}
                  <div class="col s12 m6">
                    <div class="card">
                      <div class="card-image">
                        <img src={{imgPath}}>
                        {{!-- <span class="card-title">Card Title</span> --}}
                      </div>
                      <div class="card-content">
                        <p>{{this.comment}}.</p>
                      </div>
                      <div class="card-action">
                        <form action="/look/lookbook/delete/{{../theid}}/{{@index}}" method="POST">
                        <button class="dlt">DELETE</button>
                        </form>
                         <a href="/look/lookbook/edit/{{../theid}}/{{@index}}"> <button class="edt">Edit</button></a>
                      </div>
                    </div>
                  </div>
             {{/each}}
                </div>
     </section>
    







<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            